{{ template "header.html" . }}
<form action="/auth" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        {{range $element := .Errors}} <div class="error">{{$element}}</div> {{end}}
    </div>
    <div>
        <label class="label-block" for="login">Login</label>
        <input type="text" id="login" name="login" value="{{.Login}}">
    </div>
    <div>
        <label class="label-block" for="password">Пароль</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <button class="t10">
            Login
        </button>
    </div>
</form>
{{ template "footer.html" . }}
