{{ template "header.html" . }}

<div>
    {{range $element := .Errors}}
        <div class="error">{{$element}}</div> {{end}}
</div>

<div class="mt10 mr10 tile">
    <div class="grid" style="padding: 10px">
        <div class="prop w100p">
            <span class="ucfirst">{{.User.FirstName}}</span>&nbsp;<span class="ucfirst">{{.User.LastName}}</span>
        </div>
        <div class="prop w50p">
            Age
        </div>
        <div class="prop w50p">
            {{.User.Age}}
        </div>
        <div class="prop w50p">
            Gender
        </div>
        <div class="prop w50p">
            {{ if  eq .User.Gender 1}} Male {{end}}
            {{ if  eq .User.Gender 2}} Female {{end}}
            {{ if  eq .User.Gender 3}} Other {{end}}
        </div>
        <div class="prop w50p">
            From
        </div>
        <div class="prop w50p">
            {{.User.City}}
        </div>
        <div class="prop w50p">
            Interests
        </div>
        <div class="prop w50p">
            {{.User.Interests}}
        </div>
    </div>
</div>

<div>
    {{ if not .IsAlreadyFriend }}
        <form method="post" enctype="application/x-www-form-urlencoded" action="">
            <input type="submit" value="Make a Friend">
        </form>
    {{ end }}
</div>

{{ template "footer.html" . }}
