{{ template "header.html" . }}
<div class="grid">
    {{range $user := .Users}}
        <div class="mt10 mr10 tile">
            <div class="grid" style="padding: 10px">
                <div class="prop w100p">
                    <span class="ucfirst">{{$user.FirstName}}</span>&nbsp;<span class="ucfirst">{{$user.LastName}}</span>
                </div>
                <div class="prop w50p">
                    Age
                </div>
                <div class="prop w50p">
                    {{$user.Age}}
                </div>
                <div class="prop w50p">
                    Gender
                </div>
                <div class="prop w50p">
                    {{$user.Gender}}
                </div>
                <div class="prop w50p">
                    From
                </div>
                <div class="prop w50p">
                    {{$user.City}}
                </div>
                <div class="prop w50p">
                    Interests
                </div>
                <div class="prop w50p">
                    {{$user.Interests}}
                </div>
            </div>
        </div>
    {{end}}
</div>
{{ template "footer.html" . }}
