{{ template "header.html" . }}

{{ if .ShowSearch }}
<div>
    <form method="get">
        <label for="query-field">Find</label>
        <input type="text" id="query-field" name="query"/>
        <button>search</button>
    </form>
</div>
{{ end }}

<div class="grid">
    {{range $user := .Users}}
        <div class="mt10 mr10 tile">
            <div class="grid" style="padding: 10px">
                <div class="w100p prop-no-flex">
                    <span class="ucfirst">{{$user.FirstName}}</span>&nbsp<span class="ucfirst">{{$user.LastName}}</span>&nbsp;(<a
                            {{ if not $.CurrentUserId }}class="deny"{{end}}
                            {{ if $.CurrentUserId }}href="/details?id={{$user.Id}}"{{end}}>details</a>) {{ if not $.CurrentUserId }}
                        <span class="red">need auth</span>{{end}}{{ if $.CurrentUserId }}{{ if  eq $user.Id $.CurrentUserId}}
                        <span class="bg1 p5">It's you</span>  {{end}}{{end}}
                </div>
                <div class="prop w50p">
                    Age
                </div>
                <div class="prop w50p">
                    {{$user.Age}}
                </div>
                <div class="prop w50p">
                    Gender
                </div>
                <div class="prop w50p">
                    {{ if  eq $user.Gender 1}} Male {{end}}
                    {{ if  eq $user.Gender 2}} Female {{end}}
                    {{ if  eq $user.Gender 3}} Other {{end}}
                </div>
                <div class="prop w50p">
                    From
                </div>
                <div class="prop w50p">
                    {{$user.City}}
                </div>
                <div class="prop w50p">
                    Interests
                </div>
                <div class="prop w50p">
                    {{$user.Interests}}
                </div>
            </div>
        </div>
    {{end}}
</div>
{{ template "footer.html" . }}
